// VARIABLES

// FONTS

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

$systemFont: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, sans-serif;
$headerFont: "Lexend", sans-serif;

// COLORS
$blue: #2f64df;
$green: #337357;
$brightYellow: #ffe19c;
$yellow: #ffc336;
$orange: #cc4b23;
$red: #a4031f;

// GRAYS
$black: #000;
$darkerGray: #121212;
$darkGray: #272727;
$gray: #666;
$lightGray: #e5e5e5;
$white: #fff;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
